#add-container {
    padding: 75px 100px;
    min-height: 100vh;
    color: white;
}
#csv-container{
    padding: 0 35px;
}
#add-table{
    margin-top: 25px;
}

@media (max-width: 1024px) {
    #add-container {
        padding: 50px 35px;
    }
}