#container-add {
    padding: 35px 75px 0;
}

#title-container-add{
    padding: 0 75px;
}

#import-add{
    margin: 50px 0;
}

#csv-container{
    padding: 0 35px;
}

@media (max-width: 1024px) {
    #add-container {
        padding: 50px 35px;
    }
}