@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 400;
  overflow-y: scroll;
  overflow-y: scroll;
  scroll-snap-type: block;
}

#dashboard{
  margin-left: 285px;
}

@media (max-width: 640px){
  #dashboard{
    margin-left: 0;
  }
}