@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 400;
  overflow-y: scroll;
  scroll-snap-type: block;
}

#dashboard {
  width: calc(100% - 225px);
  margin-left: 225px;
}

@media (max-width: 640px) {
  #dashboard {
    width: 100%;
    margin-left: 0;
  }
}